<footer class="footer">
  <div class="outer">
    <ul class="list-inline">
      <li>
        &copy;
        <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %>
        <%= config.author || config.title %>
      </li>
      <li>
        <% if (theme.pageFooter){ %>
        <% var hexoLink = '<a href="https://hexo.io" target="_blank">Hexo</a>'; %>
        <% var themeLink = '<a href="https://github.com/Shen-Yu/hexo-theme-ayer" target="_blank">Ayer</a>'; %>
        <%- hexoLink %> Theme <%- themeLink %> by shenyu
        <% } %>
      </li>
    </ul>
  </div>
</footer>
